body {
  background: #333;
  font-family: 'Helvetica', sans-serif;
}

main {
  width: 300px;
  margin: 100px auto 0;
  position: relative;
}

canvas {
  display: block;
  background-color: white;
  margin: auto;
}

#snakeLength, #highScore {
  color: red;
}

#snakeLength {
  position: absolute;
  left: 0;
}

#resetButton {
  color: white;
  background-color: inherit;
  margin-bottom: 1px;
}

#highScore, #gameOver {
  position: absolute;
  right: 0;
}

#gameOver {
  display: none;
  color: red;
}