body {
  background: #333;
  font-family: 'Helvetica', sans-serif;
}

canvas {
  display: block;
  background-color: white;
  margin: 100px auto 0;
}

main p, main button {
  width: 300px;
  margin: 2px auto;
}

main p {
  position: relative;
}

#snakeLength, #highScore {
  color: red;
}

#snakeLength {
  position: absolute;
  left: 0;
}

#highScore {
  position: absolute;
  right: 0;
}

button#resetButton {
  display: block;
}